/* Text */
$font_family_main: 'Noto Sans JP', sans-serif;
$font_weight_heading: bold;
$font_weight_normal: normal;
$font_size_text: 14px;


/* Colors */
$color_background_main: #fff;
$color_text: #0009;


/* Media Queries */
$media_query_mobile: 700px;
